<!-- Navbar -->
<header>
  <div class="container nav">
    <div class="logo">🍴 My Cookbook</div>
    <nav>
      <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/recipes" routerLinkActive="active">Recipes</a></li>

        @if (isLoggedIn()) {
          <li>
            <a routerLink="/profile" routerLinkActive="active">{{ username() }}'s Profile</a>
          </li>
          <li><a (click)="onLogout()" class="logout" routerLinkActive="active">Logout</a></li>
        } @else {
          <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
          <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
        }
      </ul>
    </nav>
  </div>

  @if (notification()) {
    <div
      class="notification"
      [class.error-message]="notification()?.type === 'error'"
      [class.success-message]="notification()?.type === 'success'"
    >
      {{ notification()?.message }}
    </div>
  }
</header>
